.Learn-Button {
    font-size: 18px;
    background: transparent;
    color: white;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
    padding: 14px 46px;
    text-align: center;
    width: 225px;
    transition: all 0.5s;
    margin: 5px;
  }
  
  .Learn-Button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .Learn-Button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .Learn-Button:hover {
    background-color: transparent;
    border-color: rgb(64, 133, 238);
    color: lightblue;
    transition: 0.2s;
  }
  
  .Learn-Button:hover span {
    padding-right: 25px;
  }
  
  .Learn-Button:hover span:after {
    opacity: 1;
    right: 0;
  }