.Register {
    text-align: center;
    min-height: 72vh;
    width: 100%;
    color: black;
    background-color: slateblue;
}

.Register h1 {
    font-size: 200px;
}


.Register form {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    height: auto;
}

.Register h2 {
    color: rgb(8, 8, 8);
    margin-bottom: 25px;
}

.Register form input {
    font-size: 18px;
    border: none;
    border-bottom: 1px solid grey;
    color: black;
    border-radius: 5px;
    width: 100%;
    padding-left: 15px;
    padding-bottom: 2px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.Register form button {
    width: 100%;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 5px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    margin-bottom: 25px;
    padding: 6px 0px 2px 15px;
    color: rgb(54, 54, 54);
}

.Register form button:hover {
    cursor: pointer;
}

.Register_bottom {
    display: inline-block;
    width: 100%;
}

#forgot_password {
    color: blue;
    font-size: 14px;
    width: 50%;
    text-decoration: none;
    padding: 6px;
}

#create_account {
    padding: 6px;
    color: blue;
    font-size: 14px;
    width: 50%;
    text-decoration: none;
}